{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Script</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<script type="text/javascript">
		alert('Welcome Js')
	</script>
</head>
<body>
	<div class="warpper fl">
        <div class="main">
            <div class="head">
            	<p>Registration Form JavaScript</p>
            </div>
            <div class="form fl">
                <form>
                	<p class="name">FIRST NAME* :</p>
                	<p>
                		<input type="text" name="fname" placeholder="First Name" class="name-inp">
                	</p>

                	<p class="name">LAST NAME* :</p>
                	<p>
                		<input type="text" name="lname" placeholder="Last Name" class="name-inp">
                	</P>

                	<p class="gender">
                    	<span class="gen">Gender</span>
                        <input type="radio" name="ge" class="genm">Male
                        <input type="radio" name="ge" class="genm">Female
                    </p>
                    <p class="name">EMAIL* :</p>
                    <p>
                    	<input type="email" name="uid" placeholder="Email" class="name-inp">
                    </p>

                    <p class="name">PHONE* :</P>
                    <p>
                    	<input type="text" name="phone" placeholder="Phone" class="name-inp">
                    </p>

                    <p class="name">PASSWORD* :</p>
                    <p>
                    	<input type="password" name="pass" placeholder="Password" class="pass">
                        <input type="password" name="pass" placeholder="Conform Password" class="pass">
                    </p>
                    <p>
                    	<input type="submit" name="sb" value="SUBMIT" class="sub"><br><br>
                        <p style="text-align: center;">Already Account <a href="{% url 'login'%}">Login</a></p>
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
