<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container col-md-12 mt-4 card card-body" style="background-color: #00FF00;">
  <h1 class="alert alert-success text-center"><marquee behavior="alternate" scrollamount="10">SingleWebPage</marquee></h1>
  <div class="row">
    <div class="container col-md-4  card card-body" style="background-color: #DFFF00">
      <h1 class="alert alert-info text-center">Login-Form</h1>
      <form><strong>
        <div class="form-group">
          <label for="em">Email*</label>
          <input type="email" name="" placeholder="Enter email" class="form-control" id="em">
        </div>

        <div class="form-group">
          <label for="pd">Password*</label>
          <input type="password" name="" placeholder="Enter ****" class="form-control" id="pd">
        </div></strong>

        <div class="text-center">
          <input type="submit" value="Login" class="btn btn-outline-danger btn-lg">
        </div>
      </form>
      </div>

      <div class="container col-md-4 card card-body" style="background-color: #FF5733;">
        <h1 class="alert alert-warning text-center">Registration-Form</h1>
        <form><strong>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="fn">FirstName*</label>
              <input type="text" name="" placeholder="Enter Fname" class="form-control" id="fn">
            </div>

            <div class="form-group col-md-6">
              <label for="ln">LastName*</label>
              <input type="text" name="" placeholder="Enter Lname" class="form-control" id="ln">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="em">Email*</label>
              <input type="email" name="" placeholder="Enter email" class="form-control" id="em">
            </div>

            <div class="form-group col-md-6">
              <label for="pd">Password*</label>
              <input type="password" name="" placeholder="Enter ****" class="form-control" id="pd">
            </div>
          </div></strong>

          <div class="text-center">
            <input type="submit" value="Register" class="btn btn-outline-primary btn-lg">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>